<!DOCTYPE>
<html ng-app="booking">
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!----Bootstrap--->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!----CSS------->
        <link rel="stylesheet" href="css/style.css">
        <!----FONTS----->
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    </head>
    
    <body ng-controller="BookingController as vm">
    <header class="text-center">
        <img src="img/eal%20logo.jpg" alt="EAL's Logo">
    </header>

    <!---------------------------CALENDAR------------------------------->  
    <main class="container">
       <div class="row">
        <section ng-controller="CalendarController as calendar" class="col-md-6">
          <h4 class="text-align">1. CHOOSE A DATE</h4>
           <h5 class="text-align">&#8882; DECEMBER &#8883; </h5>
           <div class="calendar">
            <ul class="nav nav-pills">
                <li class="date-box" ng-class="{ active:calendar.isSelected(1) }"><a href ng-click="calendar.selectTab(1)">1</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(2) }"><a href ng-click="calendar.selectTab(2)">2</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(3) }"><a href ng-click="calendar.selectTab(3)">3</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(4) }"><a href ng-click="calendar.selectTab(4)">4</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(5) }"><a href ng-click="calendar.selectTab(5)">5</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(6) }"><a href ng-click="calendar.selectTab(6)">6</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(7) }"><a href ng-click="calendar.selectTab(7)">7</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(8) }"><a href ng-click="calendar.selectTab(8)">8</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(9) }"><a href ng-click="calendar.selectTab(9)">9</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(10) }"><a href ng-click="calendar.selectTab(10)">10</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(11) }"><a href ng-click="calendar.selectTab(11)">11</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(12) }"><a href ng-click="calendar.selectTab(12)">12</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(13) }"><a href ng-click="calendar.selectTab(13)">13</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(14) }"><a href ng-click="calendar.selectTab(14)">14</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(15) }"><a href ng-click="calendar.selectTab(15)">15</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(16) }"><a href ng-click="calendar.selectTab(16)">16</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(17) }"><a href ng-click="calendar.selectTab(17)">17</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(18) }"><a href ng-click="calendar.selectTab(18)">18</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(19) }"><a href ng-click="calendar.selectTab(19)">19</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(20) }"><a href ng-click="calendar.selectTab(20)">20</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(21) }"><a href ng-click="calendar.selectTab(21)">21</a></li>
            </ul>
            </div>
            
        
        
        
        <!----------------------------SHOW AVAILABLE ROOMS------------------------------------->
        <div class="av-rooms" ng-show="calendar.isSelected(1)" ng-repeat="room in vm.products">
			<h5>Available rooms</h5>
			<h5>{{room.no}}</h5>
        </div>                                   
                                                                                                                       
        <div class="av-rooms" ng-show="calendar.isSelected(2)" ng-repeat="room in vm.products">
            <h5>Available rooms 2</h5>
            <h5>{{room.no}}</h5>
        </div>
        
        <div class="av-rooms" ng-show="calendar.isSelected(3)">
            <h5>Available rooms 3</h5>
        </div>
        
        <div class="av-rooms" ng-show="calendar.isSelected(4)">
            <h5>Available rooms 4</h5>
        </div>
        
        <div class="av-rooms" ng-show="calendar.isSelected(5)">
            <h5>Available rooms5</h5>
        </div>
        
        <div class="av-rooms" ng-show="calendar.isSelected(6)">
            <p>The rooms cannot be pre-booked on weekends</p>
        </div>
        
        <div class="av-rooms" ng-show="calendar.isSelected(7)">
            <p>The rooms cannot be pre-booked on weekends</p>
        </div>
        <h4 class="booking">3. SEND YOUR BOOKING</h4>
        <p><b>YOUR BOOKING:</b> dd/mm/yyyy, room</p>
        </section>
        <aside class="col-md-6" >
            <h4>2. CHOOSE THE TIME</h4>
            <p class="time"><b>AVAILABLE ROOMS dd/mm/yyyy</b></p>
            <div class="green"></div>
        </aside>
        </div>
    </main>

     
        
        
    <!----Angular----->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!----Javascript----->
    <script src="js/app.js"></script>
    </body>
</html>