<!DOCTYPE>
<html ng-app="booking">
    <head>
        <!----Bootstrap--->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!----CSS------->
        <link rel="stylesheet" href="style.css">
        <!----FONTS----->
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    </head>
    
    <body ng-controller="BookingController as booking">

    <!---------------------------CALENDAR------------------------------->  
    <div class="container">
        <div class="row">
        
        
        <section ng-controller="CalendarController as calendar">
        <div class="col">
        <h4>DECEMBER</h4>
            <ul class="nav nav-pills">
                <li class="date-box" ng-class="{ active:calendar.isSelected(1) }"><a href ng-click="calendar.selectTab(1)">1</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(2) }"><a href ng-click="calendar.selectTab(2)">2</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(3) }"><a href ng-click="calendar.selectTab(3)">3</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(4) }"><a href ng-click="calendar.selectTab(4)">4</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(5) }"><a href ng-click="calendar.selectTab(5)">5</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(6) }"><a href ng-click="calendar.selectTab(6)">6</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(7) }"><a href ng-click="calendar.selectTab(7)">7</a></li>
            </ul>
            <ul class="nav nav-pills">
                <li class="date-box" ng-class="{ active:calendar.isSelected(8) }"><a href ng-click="calendar.selectTab(8)">8</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(9) }"><a href ng-click="calendar.selectTab(9)">9</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(10) }"><a href ng-click="calendar.selectTab(10)">10</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(11) }"><a href ng-click="calendar.selectTab(11)">11</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(12) }"><a href ng-click="calendar.selectTab(12)">12</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(13) }"><a href ng-click="calendar.selectTab(13)">13</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(14) }"><a href ng-click="calendar.selectTab(14)">14</a></li>
            </ul>
            
            <ul class="nav nav-pills">
                <li class="date-box" ng-class="{ active:calendar.isSelected(15) }"><a href ng-click="calendar.selectTab(15)">15</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(16) }"><a href ng-click="calendar.selectTab(16)">16</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(17) }"><a href ng-click="calendar.selectTab(17)">17</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(18) }"><a href ng-click="calendar.selectTab(18)">18</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(19) }"><a href ng-click="calendar.selectTab(19)">19</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(20) }"><a href ng-click="calendar.selectTab(20)">20</a></li>
                <li class="date-box" ng-class="{ active:calendar.isSelected(21) }"><a href ng-click="calendar.selectTab(21)">21</a></li>
            </ul>
            </div>
            
        
        
        
        <!----------------------------SHOW AVAILABLE ROOMS------------------------------------->
        <div class="col">
            <div ng-show="calendar.isSelected(1)">
                <h5>Available rooms - 01/12/17</h5>
                <div class="av-rooms" ng-repeat="product in booking.products" ng-hide="product.booked"> 
                    {{product.no}}
                    <div class="av-hours" ng-repeat="hour in product.hours" ng-class="{ red:hour.booked }">
                    {{hour.name}}
                    </div>
                </div>

            </div>                   

            <div ng-show="calendar.isSelected(2)" ng-controller="Day2Controller as day2">
                <h5>Available rooms - 02/12/17</h5>
                <div class="av-rooms" ng-repeat="product in day2.products" ng-hide="product.booked"> 
                    {{product.no}}
                    <div class="av-hours" ng-repeat="hour in product.hours" ng-class="{ red:hour.booked }">
                    {{hour.name}}
                     </div>
                </div>
            </div>

            <div ng-show="calendar.isSelected(3)" ng-controller="Day3Controller as day3">
                <h5>Available rooms - 03/12/17</h5>
                <div class="av-rooms" ng-repeat="product in day3.products" ng-hide="product.booked"> 
                    {{product.no}}
                    <div class="av-hours" ng-repeat="hour in product.hours" ng-class="{ red:hour.booked }">
                    {{hour.name}}
                     </div>
                </div>
            </div>

            <div ng-show="calendar.isSelected(4)" ng-controller="Day4Controller as day4">
                <h5>Available rooms - 04/12/17</h5>
                <div class="av-rooms" ng-repeat="product in day4.products" ng-hide="product.booked"> 
                    {{product.no}}
                    <div class="av-hours" ng-repeat="hour in product.hours" ng-class="{ red:hour.booked }">
                    {{hour.name}}
                     </div>
                </div>
            </div>

            <div ng-show="calendar.isSelected(5)" ng-controller="Day5Controller as day5">
                <h5>Available rooms - 05/12/17</h5>
                <div class="av-rooms" ng-repeat="product in day5.products" ng-hide="product.booked"> 
                    {{product.no}}
                    <div class="av-hours" ng-repeat="hour in product.hours" ng-class="{ red:hour.booked }">
                    {{hour.name}}
                     </div>
                </div>
            </div>

            <div class="av-rooms" ng-show="calendar.isSelected(6)">
                <p>The rooms cannot be pre-booked during weekends</p>
            </div>

            <div class="av-rooms" ng-show="calendar.isSelected(7)">
                <p>The rooms cannot be pre-booked during weekends</p>
            </div>
            </div>
        </section>
    </div>
    </div>

     
        
        
    <!----Angular----->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <!----Javascript----->
    <script src="app.js"></script>
    </body>
</html>