li.date-box {
    border: solid 2px #006F79;
    border-radius: 3px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 3px;
}

li.date-box:hover {
    background-color: #D3D3D3;
}

.active {
    background-color: #ff8435;
}

ul {
    margin-top: 30px;
}

a { 
    color: black;
    display: inline-block;
    position: relative;    
    z-index: 1;     
    padding: 1.5em;     
    margin: -2em;
}

a:hover {
    text-decoration: none;
    color: black;
}

.av-rooms {
    margin-top: 50px;
}

.unbooked-box {
    border: solid 2px #007781;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    width: 65px;
    margin: 3px;
}

.booked-box {
    border: solid 2px #ff1414;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    width: 65px;
    margin: 3px;
}

h1{
	padding-top: 8px;
	font-size: 12px;
}
h5{
    font-family: Frutiger LT Std 55 Roman;
    margin-top:5%;
    text-align: center;
    font-size: 1rem;
}
h4{
    font-family: Frutiger LT Std 55 Roman;
    text-align: center;
    font-size:1.5rem;
    margin-top:5%;
    margin-bottom: 5%;
}

header{
    background-color: #007680;
    height: 100px;
}
header img{
    height:90px;
    
}
.calendar{
    max-width: 100%;
}
h4.booking{
    margin-top:15%;
}
p{
    font-family: Arial;
    margin-top:5%;
}
