li.date-box {
    border: solid 2px #007781;
    border-radius: 3px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 3px;
}

li.date-box:hover {
    background-color: #ff8435;
}

.active {
    background-color: #ff8435;
}

ul {
    margin-top: 30px;
}

a { 
    color: black;
    display: inline-block;
    position: relative;    
    z-index: 1;     
    padding: 1.5em;     
    margin: -2em;
}

a:hover {
    text-decoration: none;
    color: black;
}

.av-rooms {
    margin-top: 50px;
}

.unbooked-box {
    border: solid 2px #4d8c62;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    width: 65px;
    margin: 3px;
}

.booked-box {
    border: solid 2px #ff0000;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    width: 65px;
    margin: 3px;
	background-color: #FFFFFF;
}

.room-box {
    border: solid 2px #006867;
    border-radius: 3px;
    text-align: center;
    height: 40px;
    width: 70px;
    margin: 3px;
	background-color: #00929b;
}

p{
	font-family: verdana;
	padding-top: 15px;
	font-size: 12px;
}
h1{
	font-family: verdana;
	padding-top: 16px;
	font-size: 14px;
	font-weight: bold;
}

form{
	padding-top: 10px;
}

header{
    background-color: #007680;
    height: 100px;
}

header img{
    height:90px;
    
}

h5{
    font-family: Frutiger LT Std 55 Roman;
    margin-top:5%;
    text-align: center;
    font-size: 1rem;
}
h4{
    font-family: Frutiger LT Std 55 Roman;
    text-align: center;
    font-size:1.5rem;
    margin-top:5%;
}
