li.date-box {
    border: solid 2px #007781;
    border-radius: 3px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 3px;
}

li.date-box:hover {
    background-color: #ff8435;
}

.active {
    background-color: #ff8435;
}

ul {
    margin-top: 30px;
}

a { 
    color: black;
    display: inline-block;
    position: relative;    
    z-index: 1;     
    padding: 1.5em;     
    margin: -2em;
}

a:hover {
    text-decoration: none;
    color: black;
}

.av-rooms {
    margin-top: 50px;
}

.unbooked-box {
    border: solid 2px #007781;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    width: 65px;
    margin: 3px;
}

.booked-box {
    border: solid 2px #ff1414;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    width: 65px;
    margin: 3px;
}

h1{
	padding-top: 8px;
	font-size: 12px;
}
